@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind:wght@300&family=Homemade+Apple&display=swap');

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Beginning of header styling */

header {
    background-color: red;
    background-size: cover;
}


body {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1, h2 {
    font-family: "Archivo Black", sans-serif;
}

#logo {
    float: left;
    font-size: 400%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(118, 23, 23);
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    display: flex;
    list-style-type: none;
    float: left;
    font-size: 170%;
    background-color: red;
}

#menu a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 10px 50px;
}

#menu .active {
    color: red;
    background-color: white;
}

#menu .menu-brown {
    background-color: rgb(118, 23, 23);
}

#menu .menu-brown .active {
    color: rgb(118, 23, 23);
    background-color: white;
}

/* Beginning of hero image styling */

#hero-outer {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-img {
    height: 670px;
    width: 100%;
    background: url(../images/pizza-oven.jpg) no-repeat center center;
    object-fit: fill;
    background-size: cover;
}

#cover-text h2 {
    font-family: "Homemade Apple", cursive;
    font-size: 300%;
    width: 100%;
    height: 200px;
    color: white;

    top: 50px;
    left: 300px;
    position: absolute;
}

/* Beginning of "why-us" styling */

#why-us {
    font-family: "Hind", sans-serif;
    color: black;
    flex: 1 0 auto;
    margin-bottom: 1vh;
}

#left-reason {
    width: 50%;
    height: 70vh;
    float: left;
}

#right-reason {
    width: 50%;
    float: right;
    height: 75vh;
    text-align: right;
}

.left-reason-content {
    float: left;
    width: 100%;
    height: 24vh;
    padding: 1vh 1vh 0;
}

.right-reason-content {
    float: right;
    width: 100%;
    height: 24vh;
    padding: 1vh 1vh 0;
}

.left-reason-img {
    width: 33%;
    height: 24vh;
    float: left;
    overflow: hidden;
}

.right-reason-img {
    width: 33%;
    height: 24vh;
    float: right;
    overflow: hidden;
}

.left-reason-content h3 {
    display: inline-block;
    font-family: "Archivo Black", sans-serif;
    font-size: 150%;
    padding: 5px 2%;
    width: 63%;
    height: 40px;
}

.right-reason-content h3 {
    display: inline-block;
    font-family: "Archivo Black", sans-serif;
    font-size: 150%;
    padding: 5px 2%;
    width: 63%;
    height: 40px;
}

#why-us .left-reason-content p {
    font-size: 120%;
    text-align: justify;
    display: inline-block;
    padding: 0 2%;
    width: 61%;
    height: 150px;
    overflow: hidden;
}

#why-us .right-reason-content p {
    font-size: 120%;
    text-align: justify;
    display: inline-block;
    padding: 0 2%;
    width: 61%;
    height: 150px;
    overflow: hidden;
}

/* Beginning of product styling */
#product-header {
    height: 40vh;
    display: flex;
    flex-direction: row;
    
}

.product-img {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#product-examples {
    height: 90vh;
}

#product-examples div {
    padding: 1vh;
}

.product1 {
    height: 28vh;
    width: 98vh;
    float: left;
    clear: both;
}

.product2 {
    height: 28vh;
    width: 98vh;
    float: right;
    clear: both;
}

.product1 img {
    height: 100%;
    width: 35%;
    object-fit: fill;
    float: left;
}

.product2 img {
    float: right;
    height: 100%;
    width: 35%;
    object-fit: fill;
}

.product1 h2 {
    color: black;
    display: block;
    height: 10%;
    width: 61%;
    padding: 5px 2%;
    font-size: 200%;
    float: left;
}

.product2 h2 {
    color: black;
    display: block;
    height: 10%;
    width: 61%;
    padding: 5px 2%;
    font-size: 200%;
    float: right;
    text-align: right;
}

.product1 p {
    color: black;
    display: block;
    height: 20%;
    width: 61%;
    padding: 5px 2%;
    font-size: 150%;
    text-align: justify;
    float: left;
}

.product2 p {
    color: black;
    display: block;
    height: 20%;
    width: 61%;
    padding: 5px 2%;
    font-size: 150%;
    text-align: right;
    float: right;
}



/* Beginning of Opportunities styling */

#hiring-pic {
    height: 40vh;
    display: flex;
    flex-direction: row;
    
}

.hiring-img {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.hiring-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#hiring-head {
    text-align: center;
    padding: 1% 0 4%;
    width: 100%;
    color: black;
}

#hiring-head h2{
    font-size: 300%;
    font-family: "Archivo Black", sans-serif;
}

#hiring-head p {
    font-size: 200%;
}

#hiring {
    min-height: 40vh;
    display: block;
    column-count: 3;
}

.job-opportunity {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#hiring h3 {
    color: black;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    font-size: 150%;
    display: block;
    height: 8%;
    width: 100%;
    float: left;
}

#hiring p {
    color: black;
    font-family: "Hind", sans-serif;
    text-align: justify;
    font-size: 120%;
    height: 92%;
    width: 100%;
    display: block;
    float: left;
}


/* Beginning of contact styling */
#contact-pic {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

#contact-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;
}

footer p {
    background-color: rgb(118, 23, 23);
}