@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#header {
    background-color: red;
    height: 95px;
}

body {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    color: white;
}

h1, h2 {
    font-family: "Archivo Black", sans-serif;
}

#logo {
    float: left;
    font-size: 400%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(118, 23, 23);
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    float: left;
    font-size: 170%;
    background-color: red;
}

#menu a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 10px 50px;
}

#menu .active {
    color: red;
    background-color: white;
}

#menu .menu-brown {
    background-color: rgb(118, 23, 23);
}