@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

h1, h2 {
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
    margin-right: 10px;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
}